<html>
  <head>
    <style>
      #text{width:100%; font-size: 15px; padding: 5px; display: block;}
    </style>
  </head>
  <body>
    <a href="/logout">Logout</a>
    <input id="text" placeholder="Write then press Enter." autofocus />
    <div id="chat"></div>
    <div id="usuarios" name="usuarios"></div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src= "chat.js"></script>
  </body>
</html>