<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Chat con Ajax y Jquery</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">Tu Chat</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <!--<li><a href="./login">Login</a></li>-->
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Chat utilizando Ajax y JQuery</h1>
            <form role="form" action="./chat" method="POST">
              <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Introduzca un nombre de usuario">
              <button type="submit" class="btn-lg btn-danger">Regístrate</button>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Diseñado por <a href="">Eduardo</a> y <a href="">Sergio</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </body>
</html>