div#chat {
	float:left;
	background-color: #FE2E2E;
	width: 70%;
	height: 30%;
	overflow-y: scroll;
}

div#usuarios {
	float:left;
	background-color: #81BEF7;
	width: 30%;
}

a {
	display:block;
}

#text {
	width:100%; 
	font-size: 15px; 
	padding: 5px; 
	display: block;
}