div#chat {
	float:left;
	background-color: #FE2E2E;
	width: 70%;
	overflow: scroll;
	height: 30%;
}

div#usuarios {
	float:left;
	background-color: #FE642E;
	width: 30%;
}

a {
	display:block;
}

#text {
	width:100%; 
	font-size: 15px; 
	padding: 5px; 
	display: block;
}